# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '$'
 NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_a25vd2luZy1zaGFkLTM1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_VX4RmNS5bTI5zNnQPgVleGLcABDOaLG9I6Dv3w8Vb0